name: Python Syntax Checker

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install flake8
    - name: Lint with flake8
      run: |
        # Sadece yazım hatalarını ve ciddi mantık hatalarını kontrol et
        # F403 ve F405 hatalarını yoksayıyoruz (from turtle import * kullandığın için)
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics --ignore=F403,F405
